@import url('./reset.css');

@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2')
      format('woff2'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff')
      format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf')
      format('opentype');
}

:root {
  /* color */
  --bg-clr: #5b2386;
  /* font-family */
  --Gmarket-bold: 'GmarketSansBold';
  --Gmarket-medium: 'GmarketSansMedium';
  --OTE-Enjoy: 'OTEnjoystoriesBA';
  --Noto-Sans: 'Noto Sans KR';
  /*  */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-clr);
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-out {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 8.75rem auto 0;
}

.clock {
  width: 16.5625rem;
  height: 16.5625rem;
}

.title {
  position: absolute;
  width: 35.25rem;
  margin: 4.625rem auto;
}

.sub-title {
  margin: 2.875rem 0 4.875rem;
  font-family: var(--OTE-Enjoy);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #f5df4d;
}

.explain {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3.75rem 6.375rem;
}

.explain .txt-explain {
  color: #fff;
  font-family: var(--Gmarket-medium);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.txt-explain strong {
  font-family: var(--Gmarket-bold);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.explain .quotes {
  position: absolute;
  width: 30.8125rem;
  margin-top: 0.8125rem;
}

.insert-form {
  margin-bottom: 7.1875rem;
}

.txt-wannabe,
.txt-time {
  font-family: var(--Gmarket-medium);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-align: center;
}

.insert-form input {
  border: none;
  border-radius: 7px;
  width: 14.25rem;
  height: 3.5625rem;
  margin: 0 1.0625rem;
  box-sizing: border-box;
}

.insert-form input::placeholder {
  font-family: var(--Gmarket-medium);
  color: #babcbe;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.txt-wannabe {
  margin-bottom: 1.6875rem;
}

button {
  display: flex;
  align-items: center;
  font-family: var(--Gmarket-bold);
  font-size: 1.4375rem;
  gap: 0.625rem;
  color: #5b2386;
  border: none;
  border-radius: 3.5rem;
  padding: 1.3125rem 3.0625rem;
  cursor: pointer;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin: 7.1875rem 0 9.1875rem;
  position: relative;
}

.btn-calc {
  width: 35.3125rem;
  height: 4.125rem;
  text-align: center;
  background-color: #f5df4d;
}

.click {
  position: absolute;
  top: 0.625rem;
  right: 2.1875rem;
}

.result-sec {
  display: none;
}

.result-area {
  position: relative;
}

.txt-wannabe,
.txt-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 1;
}

.txt-output {
  margin: 0 0.75rem;
  line-height: 1;
}

.txt-wannabe {
  margin-bottom: 1.0625rem;
}

.txt-output {
  font-family: var(--Gmarket-bold);
  font-style: normal;
  font-size: 4.5rem;
  line-height: 1;
}

.btns {
  margin: 7.9375rem 0 8.125rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-yellow {
  background-color: #f5df4d;
}

.btn-share {
  margin-left: 1.125rem;
  background-color: #fff;
}

.footer {
  padding: 0 0 4.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .logo {
  width: 7.8125rem;
  height: 1.5625rem;
  margin-bottom: 1.25rem;
}

.footer .txt-footer {
  font-family: var(--Noto-Sans);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0625rem;
  text-align: center;
  color: #fff;
}

/* Modal */
.modal-screen {
  /* compare visibility with display */
  visibility: hidden;
  /* js control: none -> flex -> none */
  /* display: none; */
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12.5rem auto;
  width: 50rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 1.875rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
}

#modal .modal-wrap {
  margin: 4.75rem auto 4.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 1.25rem;
}

#modal .txt-cheer {
  font-family: var(--OTE-Enjoy);
  color: #5b2386;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1.8125rem;
}

#modal .txt-cheer strong {
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.625rem;
}

#modal .licat-img {
  width: 27.0625rem;
  height: 21.0625rem;
  margin: 1.8125rem auto 4.625rem;
}

#modal .btn-close {
  font-size: 1.5rem;
  text-align: center;
  background-color: #f5df4d;
}

@media screen and (max-height: 1000px) {
  #modal {
    margin: 10rem auto;
    width: 40rem;
    height: 40rem;
  }

  #modal .modal-wrap {
    margin: 4.75rem auto 4.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 1.25rem;
  }

  #modal .txt-cheer {
    font-family: var(--OTE-Enjoy);
    color: #5b2386;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  #modal .txt-cheer strong {
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
  }

  #modal .licat-img {
    width: 27.0625rem;
    height: 21.0625rem;
    margin: 0 auto 1.5rem;
  }

  #modal .btn-close {
    font-size: 1.5rem;
    text-align: center;
    background-color: #f5df4d;
  }
}

@media screen and (max-width: 900px) {
  .click {
    display: none;
  }
}
