@import url('./reset.css');

@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2')
      format('woff2'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff')
      format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf')
      format('opentype');
}

:root {
  /* color */
  --bg-clr: #5b2386;
  /* font-family */
  --Gmarket-bold: 'GmarketSansBold';
  --Gmarket-medium: 'GmarketSansMedium';
  --OTE-Enjoy: 'OTEnjoystoriesBA';
  --Noto-Sans: 'Noto Sans KR';
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-clr);
}

#app {
  width: 100%;
  margin: 120px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-out {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.clock {
  width: 265px;
  height: 265px;
}

.title {
  position: absolute;
  width: 564px;
  margin: 74px auto;
}

.sub-title {
  margin: 46px 0 78px;
  font-family: var(--OTE-Enjoy);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #f5df4d;
}

.explain {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 14px 102px;
  height: 85px;
}

.explain .txt-explain {
  color: #fff;
  font-family: var(--Gmarket-medium);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.txt-explain strong {
  font-family: var(--Gmarket-bold);
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.explain .quotes {
  position: absolute;
  width: 493px;
  margin-top: 13px;
}

.insert-form {
  margin-bottom: 115px;
}

.txt-wannabe,
.txt-time {
  font-family: var(--Gmarket-medium);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-align: center;
}

.insert-form input {
  border-radius: 7px;
  width: 228px;
  height: 57px;
}

.insert-form input::placeholder {
  font-family: var(--Gmarket-medium);
  color: #babcbe;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.txt-wannabe {
  margin-bottom: 27px;
}

.txt-time {
  margin-bottom: 115px;
}

button {
  display: flex;
  align-items: center;
  font-family: var(--Gmarket-bold);
  font-size: 23px;
  gap: 10px;
  color: #5b2386;
  border: none;
  border-radius: 56px;
  padding: 21px 49px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 147px;
  position: relative;
}

.btn-calc {
  width: 565px;
  height: 66px;
  text-align: center;
  background-color: #f5df4d;
}

.click {
  position: absolute;
  top: 10px;
  right: 30px;
}

.result-area {
  position: relative;
}

.txt-wannabe,
.txt-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.txt-wannabe {
  margin-bottom: 17px;
}

.txt-output {
  font-family: var(--Gmarket-bold);
  font-style: normal;
  font-size: 72px;
  line-height: 1;
}

.btns {
  margin: 127px 0 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-go {
  background-color: #f5df4d;
}

.btn-share {
  margin-left: 18px;
  background-color: #fff;
}

.footer {
  padding: 0 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .logo {
  width: 125px;
  height: 25px;
  margin-bottom: 20px;
}

.footer .txt-footer {
  font-family: var(--Noto-Sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

/* Modal */
#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin: 100px auto;
  width: 800px;
  height: 800px;
  z-index: 999;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#modal .modal-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
}

#modal .txt-cheer {
  font-family: var(--OTE-Enjoy);
  color: #5b2386;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 29px;
}

#modal .txt-cheer strong {
  font-weight: 700;
  font-size: 96px;
  line-height: 106px;
}

#modal .licat-img {
  width: 433px;
  height: 337px;
  margin-bottom: 20px;
}

#modal .btn-close {
  margin: 74px 0 20px;
  font-size: 24px;
  text-align: center;
  background-color: #f5df4d;
}
