@use '../base' as base;
@use '../abstracts' as abstract;

.explain {
  @include abstract.flex_column {
    align-items: center;
    text-align: center;
  }
  position: relative;
  margin: 0 abstract.rem(35) abstract.rem(66);

  @include abstract.breakpoint-up(medium) {
    margin: 0 abstract.rem(60) abstract.rem(102);
  }

  .txt-explain {
    font-family: var(--Gmarket-medium);
    font-weight: 400;
    font-size: base.$p-mobile-medium;
    line-height: abstract.rem(26);

    @include abstract.breakpoint-up(medium) {
      font-size: abstract.rem(18);
      line-height: abstract.rem(28);
    }

    strong {
      font-family: var(--Gmarket-bold);
      font-weight: 700;
      font-size: base.$p-mobile-medium;
      line-height: abstract.rem(16);

      @include abstract.breakpoint-up(medium) {
        font-size: base.$p-deskTop-medium;
        line-height: 1;
      }
    }
  }
  .quotes {
    position: absolute;
    width: abstract.rem(302);
    margin-top: abstract.rem(24);

    @include abstract.breakpoint-up(medium) {
      width: abstract.rem(494);
      margin-top: abstract.rem(13);
    }
  }
}
