@use '../globals' as g;
@use '../util' as u;

.footer {
  @include u.flex_column {
    justify-content: center;
    align-items: center;
  }
  padding: 0 0 u.rem(32);

  @include u.breakpoint-up(medium) {
    padding: 0 0 u.rem(70);
  }

  .logo {
    width: u.rem(91);
    height: u.rem(18);
    margin-bottom: u.rem(17);

    @include u.breakpoint-up(medium) {
      width: u.rem(125);
      height: u.rem(25);
      margin-bottom: u.rem(20);
    }
  }

  .txt-footer {
    font-family: var(--Noto-Sans);
    font-size: g.$p-mobile-small;
    font-weight: 400;
    line-height: u.rem(13);
    text-align: center;
    color: rgba(255, 255, 255, 0.7);

    @include u.breakpoint-up(medium) {
      font-size: g.$p-deskTop-small;
      line-height: u.rem(17);
    }
  }
}
