@use '../base' as base;
@use '../abstracts' as abstract;

.footer {
  @include abstract.flex_column {
    justify-content: center;
    align-items: center;
  }
  padding: 0 0 abstract.rem(32);

  @include abstract.breakpoint-up(medium) {
    padding: 0 0 abstract.rem(70);
  }

  .logo {
    width: abstract.rem(91);
    height: abstract.rem(18);
    margin-bottom: abstract.rem(17);

    @include abstract.breakpoint-up(medium) {
      width: abstract.rem(125);
      height: abstract.rem(25);
      margin-bottom: abstract.rem(20);
    }
  }

  .txt-footer {
    font-family: var(--Noto-Sans);
    font-size: base.$p-mobile-small;
    font-weight: 400;
    line-height: abstract.rem(13);
    text-align: center;
    color: rgba(255, 255, 255, 0.7);

    @include abstract.breakpoint-up(medium) {
      font-size: base.$p-deskTop-small;
      line-height: abstract.rem(17);
    }
  }
}
