@use '../abstracts' as abstract;

.header {
  @include abstract.flex_column {
    align-items: center;
  }

  position: relative;

  margin: abstract.rem(41) auto 0;

  @include abstract.breakpoint-up(medium) {
    margin: abstract.rem(120) auto 0;
  }

  .clock {
    width: abstract.rem(125);
    height: abstract.rem(126);

    @include abstract.breakpoint-up(medium) {
      width: abstract.rem(261);
      height: abstract.rem(265);
    }
  }

  .title {
    position: absolute;
    width: abstract.rem(267);
    margin: abstract.rem(35) auto 0;

    @include abstract.breakpoint-up(medium) {
      width: abstract.rem(564);
      margin: abstract.rem(74) auto 0;
    }
  }
}
