@use '../base' as base;
@use '../abstracts' as abstract;
@use '../components' as component;

.insert-form {
  @include abstract.flex_column {
    align-items: center;
  }

  .txt-wannabe,
  .txt-time {
    font-family: var(--Gmarket-medium);
    font-size: base.$p-mobile-medium;
    line-height: 1;
    font-weight: 400;
    text-align: center;

    @include abstract.breakpoint-up(medium) {
      font-size: base.$p-deskTop-medium;
    }
  }

  .txt-wannabe {
    margin-bottom: abstract.rem(27);
  }

  .txt-time {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: abstract.rem(19);

      @include abstract.breakpoint-up(medium) {
        display: inline;
        margin-bottom: 0;
      }
    }

    margin-bottom: abstract.rem(49);

    @include abstract.breakpoint-up(medium) {
      margin-bottom: abstract.rem(115);
    }
  }

  input {
    border: none;
    border-radius: abstract.rem(7);
    width: abstract.rem(156);
    height: abstract.rem(37);
    margin: 0 abstract.rem(4);
    font-family: var(--Gmarket-medium);
    font-size: base.$p-mobile-medium;

    @include abstract.breakpoint-up(medium) {
      width: abstract.rem(228);
      height: abstract.rem(57);
      margin: 0 abstract.rem(17);
      font-size: base.$p-deskTop-medium;
    }

    &::placeholder {
      font-family: var(--Gmarket-medium);
      color: var(--lightGray-color);
      font-weight: 400;
      font-size: base.$p-mobile-medium;
      line-height: 1;
      text-align: center;

      @include abstract.breakpoint-up(medium) {
        font-size: base.$p-deskTop-medium;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto abstract.rem(64);
    position: relative;

    @include abstract.breakpoint-up(medium) {
      margin: 0 auto abstract.rem(115);
    }

    .btn-calc {
      @include component.button {
        flex-direction: row;
        width: abstract.rem(241);
        height: abstract.rem(68);
        text-align: center;
        background-color: var(--yellow-color);
        padding: abstract.rem(23) abstract.rem(49) abstract.rem(21);
        border-radius: abstract.rem(13);
      }

      @include abstract.breakpoint-up(medium) {
        width: abstract.rem(568);
        height: abstract.rem(66);
        font-size: base.$p-deskTop-medium;
        padding: abstract.rem(21) abstract.rem(44);
        border-radius: abstract.rem(56);
      }
    }

    .click {
      position: absolute;
      top: abstract.rem(32);
      right: abstract.rem(-46);
      width: abstract.rem(43);
      height: abstract.rem(48);

      @include abstract.breakpoint-up(medium) {
        top: abstract.rem(10);
        right: abstract.rem(-67);
        width: abstract.rem(64);
        height: abstract.rem(72);
      }
    }
  }
}
