@use '../base' as base;
@use '../abstracts' as abstract;
@use '../components' as component;

.modal-screen {
  visibility: hidden;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

#modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: calc(100vh / 4) auto;
  width: abstract.rem(330);
  height: abstract.rem(500);
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: abstract.rem(30);
  color: var(--bg-color);

  @include abstract.breakpoint-up(large) {
    width: abstract.rem(600);
    height: abstract.rem(600);
  }

  @include abstract.breakpoint-up(xlarge) {
    width: abstract.rem(800);
    height: abstract.rem(800);
  }

  .modal-wrap {
    @include abstract.flex_column {
      align-items: center;
    }
    width: abstract.rem(241);
    flex-basis: abstract.rem(420);
    margin: abstract.rem(40) abstract.rem(44);

    @include abstract.breakpoint-up(large) {
      width: abstract.rem(508);
      flex-basis: abstract.rem(600);
      margin: abstract.rem(76) auto abstract.rem(68);
    }

    .txt-cheer {
      text-align: center;
      font-family: var(--OTE-Enjoy);
      font-weight: 700;
      font-size: abstract.rem(36);
      line-height: abstract.rem(40);

      strong {
        margin-top: abstract.rem(40);
        font-size: abstract.rem(64);
        line-height: abstract.rem(70);

        @include abstract.breakpoint-up(large) {
          margin-top: 0;
          font-size: abstract.rem(72);
          line-height: abstract.rem(80);
        }

        @include abstract.breakpoint-up(xlarge) {
          font-size: abstract.rem(96);
          line-height: abstract.rem(106);
        }

        span {
          display: none;

          @include abstract.breakpoint-up(large) {
            display: inline;
          }
        }
      }
    }

    .licat-img {
      width: abstract.rem(250);
      margin-bottom: abstract.rem(46);

      @include abstract.breakpoint-up(large) {
        width: abstract.rem(340);
        margin-bottom: abstract.rem(44);
      }

      @include abstract.breakpoint-up(xlarge) {
        width: abstract.rem(433);
        margin-bottom: abstract.rem(74);
      }
    }
    .btn-close {
      @include component.button {
        flex-direction: row;
        width: abstract.rem(241);
        height: abstract.rem(68);
        text-align: center;
        background-color: var(--yellow-color);
        padding: abstract.rem(19) abstract.rem(30) abstract.rem(17);
        border-radius: abstract.rem(13);
      }

      @include abstract.breakpoint-up(large) {
        width: abstract.rem(508);
        padding: abstract.rem(21) abstract.rem(45);
        border-radius: abstract.rem(56);
        font-size: base.$p-deskTop-medium;
      }

      @include abstract.breakpoint-up(xlarge) {
        width: abstract.rem(508);
      }
    }
  }
}
