@use '../base' as base;
@use '../abstracts' as abstract;
@use '../components' as component;

.result-sec {
  @include abstract.flex_column;
  display: none;

  .result-area {
    .txt-wannabe,
    .txt-time {
      @include abstract.flex_row {
        justify-content: center;
        align-items: center;
      }
      font-family: var(--Gmarket-medium);
      font-size: base.$p-mobile-medium;
      line-height: 1;
      font-weight: 400;

      @include abstract.breakpoint-up(medium) {
        font-size: base.$p-deskTop-medium;
      }

      strong {
        font-family: var(--Gmarket-bold);
        font-weight: 700;
        font-size: base.$p-mobile-xlarge;
        flex-grow: 0;
        margin: 0 abstract.rem(8);

        @include abstract.breakpoint-up(medium) {
          font-size: base.$p-deskTop-xlarge;
          margin: 0 abstract.rem(12);
        }
      }
    }

    .txt-wannabe {
      margin-bottom: abstract.rem(17);
    }

    .txt-time {
      margin-bottom: abstract.rem(55);

      @include abstract.breakpoint-up(medium) {
        margin-bottom: abstract.rem(127);
      }
    }
  }

  .btns {
    @include abstract.flex_row {
      justify-content: center;
    }
    margin: 0 abstract.rem(31) abstract.rem(83);

    @include abstract.breakpoint-up(medium) {
      margin: 0 auto abstract.rem(130);
    }

    .btn-go {
      @include component.button {
        height: abstract.rem(40);
        background-color: var(--yellow-color);
        padding: abstract.rem(13.5) abstract.rem(17.5) abstract.rem(12.5);
        border-radius: abstract.rem(56);
      }
      text-align: center;
      font-size: base.$p-mobile-medium;

      @include abstract.breakpoint-up(medium) {
        width: abstract.rem(356);
        height: abstract.rem(66);
        font-size: base.$p-deskTop-medium;
        padding: abstract.rem(21) abstract.rem(44);
      }
    }

    .btn-share {
      @include component.button {
        height: abstract.rem(40);
        background-color: var(--white-color);
        padding: abstract.rem(13.5) abstract.rem(17.5) abstract.rem(12.5);
        border-radius: abstract.rem(56);
      }
      text-align: center;
      font-size: base.$p-mobile-medium;
      margin-left: abstract.rem(13);

      @include abstract.breakpoint-up(medium) {
        width: abstract.rem(191);
        height: abstract.rem(66);
        padding: abstract.rem(21) abstract.rem(44);
        font-size: base.$p-deskTop-medium;
        margin-left: abstract.rem(18);
      }
    }
  }
}
