@use '../base' as base;
@use '../abstracts' as abstract;

.sub-title {
  p {
    margin: abstract.rem(31) 0 abstract.rem(62);
    font-family: var(--OTE-Enjoy);
    font-size: base.$p-mobile-large;
    font-weight: 700;
    line-height: abstract.rem(24);
    color: var(--yellow-color);

    @include abstract.breakpoint-up(medium) {
      margin: abstract.rem(46) 0 abstract.rem(78);
      font-size: base.$p-deskTop-large;
      line-height: abstract.rem(40);
    }
  }
}
