@use '../abstracts' as abstract;

@mixin button {
  display: flex;
  align-items: center;
  gap: abstract.rem(10);
  font-family: var(--Gmarket-bold);
  font-size: abstract.rem(14);
  color: var(--bg-color);
  border: none;
  cursor: pointer;
  box-shadow: 0 0 abstract.rem(10) rgba(0, 0, 0, 0.5);
  @content;
}
