@use '../util' as u;

$p-mobile-small: u.rem(9);
$p-mobile-medium: u.rem(14);
$p-mobile-large: u.rem(22);
$p-mobile-xlarge: u.rem(24);

$p-deskTop-small: u.rem(12);
$p-deskTop-medium: u.rem(24);
$p-deskTop-large: u.rem(36);
$p-deskTop-xlarge: u.rem(72);
